<h2> hello there {{job}} </h2> 


<h1>Edit name</h1>
<form>
  <div>
    <label for="name">Name: </label>
    <input type="text" [(ngModel)]="name" name=" " > 
  </div>
</form>
<h1> {{name}} 's friends are  </h1> 
<ul> 
  <div *ngIf="friends.length>0; then friendsList else noFriends"> 
  </div>
  <ng-template #friendsList>
    <li *ngFor="let friend of friends">
      {{friend}}  <button (click)="deleteFriend(friend)">Unfriend</button>
    </li> 
  </ng-template>
  <ng-template #noFriends >
    <h2>No friends :( </h2>
  </ng-template> 
</ul> 


<button (click) = "onClick()"> Click me </button> 
<!--button (click) = "addFriend()"> Add friend </button>  --> 

<form (submit) = "addFriend(friend.value)"> 
  <div>
    <label for="friend">Friend</label>
    <input type="text" #friend />
  </div>

</form> 

